name: Terraform CD

on:
  push:
    branches: [main]
    paths:
      - infra/**

jobs: 
  apply:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: hashicorp/setup-terraform@v3

      - name: Terraform Init
        run: terraform init
        working-directory: infra
        
      - name: Terraform Apply
        run: terraform apply -auto-approve
        working-directory: infra